::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #2bc592;
    background-image: -webkit-linear-gradient( 150deg, rgba(255, 255, 255, 0.35) 20%, transparent 20%, transparent 40%, rgba(255, 255, 255, 0.35) 40%, rgba(255, 255, 255, 0.35) 60%, transparent 60%, transparent 80%, rgba(255, 255, 255, 0.35) 80%);
    border-radius: 20px;
    background-clip: content-box;
}

body {
    background-color: white;
}


/* Navbar Effects */

nav {
    height: 80px;
    line-height: 80px;
}

.transparentBG {
    background-color: rgba(0, 0, 0, 0);
}

.whiteBG {
    background-color: white;
}

.mtop {
    margin-top: 0.5rem;
}


/* Logo */

.logo {
    width: 64px;
    background-color: white;
    border: 2px solid grey;
    border-radius: 40px;
    margin-left: 3em;
    margin-top: 0.55rem;
    padding: 3px;
}


/* Title */

.title {
    padding-left: 1rem;
    margin-top: 1.5rem;
    color: black;
    font-weight: bold;
}

.navlink {
    width: 100px;
    text-align: center;
}


/* Login Button Effects */

.login {
    background-color: rgba(0, 0, 0, 0);
    color: #400279;
    transition-duration: 0.08s;
}

.login:visited {
    color: #400279;
    background-color: rgba(0, 0, 0, 0);
}

.login:hover {
    color: white;
    background-color: #400279;
}

.login:active {
    color: white;
    background-color: #400279;
}

.login:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #400279;
}


/* Chat now button */

.regstudent {
    background: linear-gradient(to left, #0575e6, #021b79);
    transition-duration: 0.08s;
    border-radius: 0.5rem;
    width: 18em;
    height: 3.5em;
    line-height: 3.5em;
    margin-top: 5em;
}

.regstudent:hover {
    opacity: 0.85;
}


/* Be a member button */

.regcounsellor {
    background: linear-gradient(to right, #00bf72, #a8eb12);
    transition-duration: 0.08s;
    border-radius: 0.5rem;
    width: 18em;
    height: 3.5em;
    line-height: 3.5em;
    margin-top: 5em;
    margin-left: 1.5em;
}

.regcounsellor:hover {
    opacity: 0.85;
}

.btn {
    cursor: pointer;
    width: 20em;
    margin: auto;
}

#loginBtn {
    margin-right: 3em;
}

.desc {
    text-align: center;
    background: linear-gradient( 180deg, rgba(254, 243, 195, 1) 0, rgba(255, 255, 255, 1) 100%);
    padding: 50px 0;
    margin-bottom: 40px;
    display: flex;
    outline: 0 !important;
    justify-content: space-evenly;
    margin-top: 10em;
}

.center {
    text-align: center;
}

.no-margin {
    margin: 0;
}

.help {
    margin: 0 10em;
    margin-top: 23em;
    text-align: center;
    outline: 0 !important;
}

.helptitle {
    text-align: center;
    color: #171717;
    font-size: 35px;
    margin-bottom: 40px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
}

.img-container {
    margin: 1em;
}

.nav-item>.active {
    background-color: #2bc592 !important;
}

.nav-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 2px;
    width: 150px;
    margin-right: 0;
}

.nav-item>button {
    height: 36px;
    width: 150px;
}

.nav-link:hover {
    color: #2bc592;
}

.nav-pills .nav-link {
    border-radius: 0.4rem;
}

.nav-link {
    min-width: 7.5em;
    color: #0a9164;
    font-weight: 600;
    font-size: 1.15rem;
}

.rowtxt {
    margin-top: 25px;
    min-height: 35vh;
    width: 100%;
    /* background-color: #00bf72; */
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.help {
    /* background-color: grey; */
    position: relative;
}

.rowtxt .txt1 {
    margin: 0%;
    padding: 0%;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    height: 35vh;
    width: 30%;
    /* background-color: #0575e6; */
}

.rowtxt .txt1 h1 {
    font-size: 80px;
    margin: 0%;
    padding: 0%;
    position: absolute;
    top: 0%;
    color: grey;
}

.rowtxt .txt1 h3 {
    text-align: start;
    line-height: 30px;
    font-weight: 500;
    font-size: 23px;
    /* box-sizing: border-box; */
    /* background-color: #a8eb12; */
    width: 50%;
    margin: 0%;
    padding: 0%;
    top: 7%;
    left: 30%;
    position: absolute;
}

.rowtxt .txt1 h5 {
    margin-top: 30px;
    line-height: 30px;
    text-align: start;
    position: absolute;
    top: 30%;
    font-size: 13px;
}

.desc {
    position: absolute;
    width: 100%;
    top: 183%;
}

.support {
    box-shadow: 0 0 5px 5px #83838a;
    position: absolute;
    height: 33%;
    width: 85%;
    background-color: #414242;
    left: 8%;
    top: 253%;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.support .txt {
    position: relative;
    padding: 30px;
    height: 100%;
    width: 33.25%;
    background-color: rgb(255, 255, 255);
}

.support .innertxt {
    font-size: 18px;
    color: #302664;
    font-weight: 600;
    position: absolute;
    left: 33%;
}

.support .innertxt2 {
    position: absolute;
    left: 33%;
    top: 30%;
    width: 50%;
}

.support .icon {
    position: absolute;
    height: 50px;
    width: 50px;
    /* background-color: brown; */
    background-size: cover;
}

#i1 {
    background-image: url("./images/HomePage/icon1.svg");
}

#i2 {
    background-image: url("./images/HomePage/icon2.svg");
}

#i3 {
    background-image: url("./images/HomePage/icon3.svg");
}

.footerborder {
    position: absolute;
    top: 300%;
    height: 12px;
    width: 100%;
    background-color: brown;
    display: flex;
}

.p1 {
    height: 100%;
    width: 25%;
    background-color: #f6b717;
}

.p2 {
    height: 100%;
    width: 25%;
    background-color: #f3914c;
}

.p3 {
    height: 100%;
    width: 25%;
    background-color: #a39dd6;
}

.p4 {
    height: 100%;
    width: 25%;
    background-color: #fde7a0;
}

.footer {
    position: absolute;
    top: 301.8%;
    min-height: 90vh;
    width: 100%;
    background-color: #302056;
    padding-left: 60px;
    padding-top: 30px;
}

.counselling {
    left: 7%;
    box-sizing: border-box;
    padding: 0%;
    position: absolute;
    color: white;
    margin: 0%;
}

.footer h4 a {
    text-decoration: none;
    color: white;
    margin: 0%;
    font-size: 15px;
    font-weight: 600;
}

.footer h6 {
    color: yellow;
    font-size: 13px;
}

.footer h6 a {
    text-decoration: none;
    color: white;
}

.footer a {
    color: #f7a344;
    font-size: 13px;
    text-decoration: underline;
}

.aboutus {
    margin: 0%;
    position: absolute;
    left: 25%;
    box-sizing: border-box;
    padding: 0%;
    position: absolute;
    color: white;
}

.footer .innertxt {
    left: 7%;
    position: absolute;
    bottom: 2%;
    height: 40vh;
    width: 45%;
    /* background-color: violet; */
}

.footer .innertxt h4 a {
    position: absolute;
    top: 0%;
}

.footer .innertxt h3 {
    position: absolute;
    top: 7%;
    font-size: 13px;
    color: white;
    line-height: 30px;
}

.footer .innertxt h5 {
    font-size: 16px;
    color: white;
    position: absolute;
    bottom: 3%;
}

.rgtbtn {
    /* background-color: yellow; */
    /* display: flex; */
    width: 30%;
    position: absolute;
    right: 7%;
    top: 50%;
    color: white;
}

.rgtbtn h3 {
    position: absolute;
    top: 2%;
    margin: 0%;
    left: 26%;
    font-size: 20px;
}

.rgtbtn h4 {
    position: absolute;
    top: 30%;
    margin: 0%;
    left: 26%;
    font-size: 13px;
    color: #d3d3d3;
    width: 85%;
}

.rgtbtn .icon {
    /* position: absolute; */
    height: 100px;
    width: 100px;
    background-image: url(./images/HomePage/footericon.svg);
    background-size: cover;
}

.rgtbtn .expert {
    width: 80%;
    height: 6vh;
    border-radius: 4px;
    background-color: #f5924d;
    border: 0px;
    color: #302056;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    padding: 0.75em;
    text-align: center;
    margin-top: 0.5em;
}

.follow {
    position: absolute;
    left: 63%;
}

.follow .icons svg {
    margin-right: 0px;
}

.follow .icons {
    display: flex;
    justify-content: space-between;
    padding: 0%;
    width: 140%;
    position: absolute;
    left: -10%;
    /* background-color: yellow; */
}

#fcenter {
    margin: 0%;
    padding: 0%;
    /* background-color: yellow; */
    background-image: url(./images/LoginPage/login2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 197.4vh;
    position: absolute;
}

#card {
    background-color: white;
    border-radius: 15px;
    height: 73vh;
    width: 65vh;
    position: absolute;
    left: 15vh;
    top: 50%;
    transform: translate(0, -50%);
    padding-top: 0%;
    overflow: hidden;
    box-shadow: 5px 5px 10px #535353;
}

#updiv {
    padding: 25px;
    margin-bottom: 30px;
    /* position: absolute; */
    color: white;
    height: 20%;
    background-color: #021b79;
}

.row.mt-5 {
    margin: 0% !important;
}

#shade {
    height: 100vh;
    width: 50vh;
    background-color: black;
    opacity: 0.3;
}

.box {
    background-color: white;
    margin: 0%;
    position: absolute;
    height: 86%;
    width: 65%;
    top: 8%;
    left: 15%;
    border-radius: 15px;
}

.box .row.mt-5 h4 {
    position: absolute;
    left: -22%;
    /* width: auto; */
    top: 5%;
}

#rname {
    position: absolute;
    left: 7%;
    top: 14%;
}

#remail {
    position: absolute;
    left: 7%;
    top: 27%;
}

#rroll {
    position: absolute;
    left: 7%;
    top: 40%;
}

#rgender {
    position: absolute;
    left: 7%;
    top: 53%;
}

#rno {
    position: absolute;
    left: 7%;
    top: 66%;
}

#rprog {
    position: absolute;
    left: 50%;
    top: 14%;
}

#rbranch {
    position: absolute;
    left: 50%;
    top: 27%;
}

#rpass {
    position: absolute;
    left: 50%;
    top: 40%;
}

#rcpass {
    position: absolute;
    left: 50%;
    top: 53%;
}

#rbtn {
    top: 80%;
    margin-top: 2em;
    border-radius: 2em;
    width: 10em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

#sbg {
    height: 100vh;
    background: linear-gradient(180deg, #71b5e0, #43274e 100%);
}

.box .row.mt-5 h4 {
    position: absolute;
    left: -22%;
    /* width: auto; */
    top: 5%;
}

#cname {
    position: absolute;
    left: 7%;
    top: 14%;
}

#cemail {
    position: absolute;
    left: 7%;
    top: 27%;
}

#cgender {
    position: absolute;
    left: 7%;
    top: 40%;
}

#cno {
    position: absolute;
    left: 7%;
    top: 53%;
}

#ctype {
    position: absolute;
    left: 50%;
    top: 14%;
}

#cpass {
    position: absolute;
    left: 50%;
    top: 27%;
}

#ccpass {
    position: absolute;
    left: 50%;
    top: 40%;
}

#cbtn {
    top: 80%;
    margin-top: 2em;
    border-radius: 2em;
    width: 10em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

#cbg {
    height: 100vh;
    background: linear-gradient(180deg, #71b5e0, #43274e 100%);
}

.box .row.mt-5 h4 {
    position: absolute;
    left: -22%;
    /* width: auto; */
    top: 5%;
}

#aname {
    position: absolute;
    left: 7%;
    top: 14%;
}

#aemail {
    position: absolute;
    left: 7%;
    top: 27%;
}

#agender {
    position: absolute;
    left: 7%;
    top: 40%;
}

#ano {
    position: absolute;
    left: 7%;
    top: 53%;
}

#apass {
    position: absolute;
    left: 50%;
    top: 14%;
}

#acpass {
    position: absolute;
    left: 50%;
    top: 27%;
}

#abtn {
    top: 80%;
    margin-top: 2em;
    border-radius: 2em;
    width: 10em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

#abg {
    height: 100vh;
    background: linear-gradient(180deg, #71b5e0, #43274e 100%);
}

.card {
    background-color: #54a5a2;
    border-radius: 20px;
}

.card .card-action:last-child {
    border-radius: 0 0 20px 20px;
}

.question {
    background-color: white;
}

.answer {
    background-color: whitesmoke;
}

.save-quiz {
    background-color: #2c363f;
    color: white;
    transition-duration: 0.08s;
}

.save-quiz:visited {
    color: white;
    background-color: #2c363f;
}

.save-quiz:hover {
    color: #2c363f;
    background-color: white;
}

.save-quiz:active {
    color: #2c363f;
    background-color: white;
}

.save-quiz:focus {
    background-color: #2c363f;
    color: white;
}

.grow {
    transition: all 0.15s ease-in-out;
}

.grow:hover {
    transform: scale(1.025);
}

.greyOnHover:hover {
    opacity: 0.95;
    background-color: rgb(246, 250, 253);
}

.chatUsers {
    width: 200px;
    margin: 0;
    padding: 0;
    height: 50px;
    background-color: white;
}

.chatActive {
    color: whitesmoke;
    background-color: #00bf72;
}

.chatUsers:focus {
    color: whitesmoke;
    background-color: #00bf72;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
    justify-content: flex-end;
}