::-webkit-scrollbar {
	width: 11px;
}

::-webkit-scrollbar-track {
	background-color: white;
}

::-webkit-scrollbar-thumb {
	background-color: #2bc592;
	background-image: -webkit-linear-gradient(
		150deg,
		rgba(255, 255, 255, 0.35) 20%,
		transparent 20%,
		transparent 40%,
		rgba(255, 255, 255, 0.35) 40%,
		rgba(255, 255, 255, 0.35) 60%,
		transparent 60%,
		transparent 80%,
		rgba(255, 255, 255, 0.35) 80%
	);
	border-radius: 20px;
	background-clip: content-box;
}

.btn {
	border-radius: 20px;
	border: none;
	padding: 10px 20px;
	font-size: 1.2rem;
	font-weight: 600;
	transition: all 0.3s ease-in-out;
}
